# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints

# Image files
*.jpg
*.jpeg
*.png
*.bmp
*.tiff

# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Logs
*.log
